body {
  margin: 0;
  background-color: #130f49;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #130f49;
}

nav {
  margin-right: 175px;
}

.header-logo {
  width: 175px;
  border-radius: 90px;
  background-color: white;
  margin-left: 175px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-items {
  list-style: none;
  padding: 0px 50px;
}

.header-items li,
.header-items li a {
  display: inline-block;
  padding: 0px 20px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  font-style: Arial, sans-serif;
  font-weight: 800;
}

.header-items li a {
  transition: 0.3s;
}

.header-items li a:hover {
  transition: 0.3s;
  text-decoration: underline;
}
