body {
  padding-top: 170px;
  padding-bottom: 2000px;
  margin: 0;
}

.title {
  font-size: 50px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(28, 31, 77);
  font-weight: 800;
  border-right: rgb(131, 129, 129) 1px solid;
  padding: 50px 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  position: fixed;
  background-color: white;
}

.header-logo {
  width: 175px;
  border-radius: 50px;
  background-color: white;
}

.header-items {
  list-style: none;
  padding: 0px 50px;
}

.header-items li,
.header-items li a {
  display: inline-block;
  padding: 0px 20px;
  font-size: 30px;
  text-decoration: none;
  color: #0088a9;
  font-style: Arial, sans-serif;
  font-weight: 800;
}

.header-items li a {
  transition: 0.3s;
}

.header-items li a:hover {
  transition: 0.3s;
  color: #0088a9;
}
